@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p>
                @Html.Raw(T("Plugins.Payments.Banrural.PaymentInfoDescription"))
            </p>
        </td>
    </tr>
</table>