@using Nop.Services.Security
@using Nop.Web.Areas.Admin.Components
@using Nop.Web.Areas.Admin.Models.Home
@using Nop.Web.Framework.Infrastructure
@using Nop.Web.Framework.UI

@model DashboardModel

@inject INopHtmlHelper NopHtml
@inject IPermissionService permissionService
@{
    Layout = "_AdminLayout";

    NopHtml.AddCssFileParts("~/lib/ionicons/css/ionicons-2.0.1.min.css");

    ViewBag.PageTitle = T("Admin.Dashboard").Text;

    var canManageOrders = await permissionService.AuthorizeAsync(StandardPermission.Orders.ORDERS_VIEW);
    var canManageCustomers = await permissionService.AuthorizeAsync(StandardPermission.Customers.CUSTOMERS_VIEW);
    var canManageProducts = await permissionService.AuthorizeAsync(StandardPermission.Catalog.PRODUCTS_VIEW);
    var canManageReturnRequests = await permissionService.AuthorizeAsync(StandardPermission.Orders.RETURN_REQUESTS_VIEW);

    NopHtml.SetActiveMenuItemSystemName("Dashboard");
}
@{
    NopHtml.AddCssFileParts("~/lib/ionicons/css/ionicons-2.0.1.min.css");

    ViewBag.PageTitle = T("Admin.Dashboard").Text;

    var canManageOrders = await permissionService.AuthorizeAsync(StandardPermission.Orders.ORDERS_VIEW);
    var canManageCustomers = await permissionService.AuthorizeAsync(StandardPermission.Customers.CUSTOMERS_VIEW);
    var canManageProducts = await permissionService.AuthorizeAsync(StandardPermission.Catalog.PRODUCTS_VIEW);
    var canManageReturnRequests = await permissionService.AuthorizeAsync(StandardPermission.Orders.RETURN_REQUESTS_VIEW);

    NopHtml.SetActiveMenuItemSystemName("Dashboard");
}

<div class="content-header">
    <h1>
        @T("Admin.Dashboard")
    </h1>
</div>

<div class="content">
    <div class="container-fluid">
        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.DashboardTop, additionalData = Model })

        @if (!Model.IsLoggedInAsVendor)
        {
            <div class="row">
                <div class="col-md-12">
                    @await Component.InvokeAsync(typeof(NopCommerceNewsViewComponent))
                </div>
            </div>
        }

        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.DashboardNewsAfter, additionalData = Model })

        @if (!Model.IsLoggedInAsVendor && canManageOrders && canManageCustomers && canManageProducts && canManageReturnRequests)
        {
            <div class="row">
                <div class="col-md-12">
                    @await Component.InvokeAsync(typeof(CommonStatisticsViewComponent))
                </div>
            </div>
        }

        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.DashboardCommonstatisticsAfter, additionalData = Model })

        @if (!Model.IsLoggedInAsVendor && (canManageOrders || canManageCustomers))
        {
            <div class="row">
                @if (canManageOrders)
                {
                    <div class="col-md-6">
                        @await Html.PartialAsync("_OrderStatistics")
                    </div>
                }

                @if (canManageCustomers)
                {
                    <div class="col-md-6">
                        @await Html.PartialAsync("_CustomerStatistics")
                    </div>
                }
            </div>
        }

        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.DashboardCustomerorderchartsAfter, additionalData = Model })

        @if (!Model.IsLoggedInAsVendor && canManageOrders)
        {
            <div class="row">
                <div class="col-md-8">
                    @await Html.PartialAsync("_OrderAverageReport")
                </div>
                <div class="col-md-4">
                    @await Html.PartialAsync("_OrderIncompleteReport")
                </div>
            </div>
        }

        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.DashboardOrderreportsAfter, additionalData = Model })

        @if (!Model.IsLoggedInAsVendor && (canManageOrders || canManageProducts))
        {
            <div class="row">
                @if (canManageOrders)
                {
                    <div class="col-md-8">
                        @await Html.PartialAsync("_LatestOrders")
                    </div>
                }

                @if (canManageProducts)
                {
                    <div class="col-md-4">
                        @await Html.PartialAsync("_PopularSearchTermsReport")
                    </div>
                }
            </div>
        }

        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.DashboardLatestordersSearchtermsAfter, additionalData = Model })

        @if (canManageOrders)
        {
            <div class="row">
                <div class="col-md-6">
                    @await Html.PartialAsync("_BestsellersBriefReportByQuantity")
                </div>
                <div class="col-md-6">
                    @await Html.PartialAsync("_BestsellersBriefReportByAmount")
                </div>
            </div>
        }

        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.DashboardBottom, additionalData = Model })

        @if (canManageCustomers || canManageOrders)
        {
            <div class="row">
                <div class="col-md-6">
                    @await Html.PartialAsync("_VendorsReviewValorations")
                </div>
                <div class="col-md-6">
                    @await Html.PartialAsync("_CustomerReviewValoration")
                </div>
            </div>
        }
    </div>
</div>

<nop-alert asp-alert-id="loadOrderStatisticsAlert" asp-alert-message="@T("Admin.SalesReport.OrderStatistics.Alert.FailedLoad")" />
<nop-alert asp-alert-id="loadCustomerStatisticsAlert" asp-alert-message="@T("Admin.Reports.Customers.CustomerStatistics.Alert.FailedLoad")" />